body {
    margin: 0;
    padding: 0;
    color: #2f75f7;
    background: rgba(0, 0, 0, 0.1);
}

p {
    text-align: center;
    font-size: 20px;
}

.box {
    background: #2f75f7;
    width: 20px;
    height: 1px;
    margin: 0 auto;
}